<!-- views/partials/header.ejs -->
<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar">
  <a src="/images/LOGO.jpg" class="logo">CCD CAFE</a>
  <div class="header-right">
    <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/about"><i class="fa fa-fw fa-search"></i>About CCD</a>
    <a href="/farmer"><i class="fa fa-fw fa-tree"></i>Cafe Farmer</a>
    <a href="/cafehouse"><i class="fa fa-fw fa-coffee"></i>Cafe House</a>
    <a href="/roaster"><i class="fa fa-fw fa-user"></i>Cafe Roaster</a>
    <a href="/contact"><i class="fa fa-fw fa-envelope"></i>Contact US</a>
  </div>
</div>
