<!-- views/pages/cafehouse.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

  <div class="container-fluid bg-3 text-center">
  <h3>Welcome CCD CAFE <%= page %></h3><br>
   <div class="row">
    <div class="col-sm-6">
    <p>CCD CAFE From Seed to Cup!</p>
    <p>There are two Cafe House - "Golden Age Cafe & Roaster" in China,one is in Beijing address as below:</p>
    <P> <iframe src="http://www.google.cn/maps/embed?pb=!1m18!1m12!1m3!1d3058.8747173011798!2d116.20565787253487!3d39.94419194093669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f05ac9c890f769%3A0x2f451fd6a7dcb8f6!2z5ZOB5LiJ5Y-j6Iy26Im66aaG!5e0!3m2!1szh-CN!2scn!4v1539612643472" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
    <br>
    <p> Another Cafe House - "Oringal Rock Cafe and Roaster" locate in Xi'An.</p>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13193.804911919138!2d108.893308!3d34.237028!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xebfc2926808f83e4!2sDaduhui!5e0!3m2!1sen!2sca!4v1539613268104" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
    </div>
    <div class="col-sm-6">
    <p>CCD CAFE - You personal customized roaster and best coffee for you!</p>
    <p>Could you please submit the survey and let's give you best coffee in our Cafe House or mail your address!</p>

    </div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
