<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>

  <header>
    <% include ../partials/header %>
  </header>

<body>
<!-- two part of the body -->
    <div class="container-fluid bg-3 text-center">
    <h3>Welcome CCD CAFE <%= page %></h3><br>
     <div class="row">
      <div class="col-sm-6">
      <p>CCD CAFE From Seed to Cup!</p>
      <p>There are two Cafe House - "Oringal Rock Cafe and Roaster" locate in Xi'An.</p>
      <p><iframe height="20" width="30" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13193.804911919138!2d108.893308!3d34.237028!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xebfc2926808f83e4!2sDaduhui!5e0!3m2!1sen!2sca!4v1539613268104" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
      <a href="/cafehouse">Another Cafe House and more!</a>
      </div>

      <div class="col-sm-6">
      <p>CCD CAFE - You personal customized roaster and best coffee for you!</p>
      <p>Could you please submit the survey and let's give you best coffee in our Cafe House or mail your address!</p>

      </div>
     </div>
    </div>
</body>

<footer>
    <% include ../partials/footer %>
</footer>

<% include ../partials/script %>
